h1 {
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: cornsilk;
  border: 8px double;
margin: 6px;
padding: 35px;

}
h2{
color: rgb(53, 67, 144);
text-align: center;
border: 2px solid;
border-color: black;
margin: 6px;
padding: 35px;
}

ul{
  text-align: center;
}

div .row{
  align-content:center;
}

img {
  align-content: center;
}

div .box1{
border-width: 4px;
  border-color: blue;
   text-align: center;
}
.sidebar{
  width 30%;
  float: center;
  background-color: lightcyan;
  text-align: center;
  color: blueviolet;
}.


p .text{
  font-size: 25px;
  color: blueviolet;
}
.head{
  font-size: large;
  color: blue;
}
.about{
  color: blueviolet;
}
div .cardheader{
  color: blue;
}
div{
  border-color: blue;
}